<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AgeRange</title>
    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />

    <link href="~/Content/toastr.min.css" rel="stylesheet" />

</head>
<body id="page-top">
    
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <!--SHOULD be added to bundles-->
    <!-- angular js libs -->
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/angular-cookies.min.js"></script>
    <script src="~/Scripts/angular-animate.min.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>

    <!-- toastr  -->
    <script src="~/Scripts/toastr.min.js"></script>

    <!-- App -->
    <script src="~/app/app.js"></script>
    <!-- Common -->
    <script src="~/app/common/helper.js"></script>
    <script src="~/app/common/httpStatusCode.js"></script>
    <script src="~/app/common/appInterceptor.js"></script>
    <!-- Services -->
    <script src="~/app/services/personService.js"></script>
    <!-- Controllers -->
    <script src="~/app/controllers/personController.js"></script>
    <script src="~/app/controllers/addPersonModalController.js"></script>
    <script src="~/app/controllers/editPersonModalController.js"></script>

    <script type="text/javascript">
        // This setting need to placed outside document.ready to ensure it's excuted before the code to setting app routes.
        Helpers.rootUrl = "@Url.Content("~/")";
    </script>
</body>
</html>
